/* Vanilla ExHentai Header */
body {
    padding: 0 !important;
}

body #nb {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    position: sticky;
    top: 0;
    z-index: 100;
    backdrop-filter: blur(2em) brightness(70%);
    max-width: unset;
    width: 100%;
    max-height: unset;
    height: 3.3em;
    padding: 0 0 0 2em;
    box-sizing: border-box
}

/* Header */
.nbw.custom:hover {
    color: white;
    text-decoration: underline;
    cursor: pointer;
}

/* Vanilla Thumbnails / Posts */
.gl1t,
.gdtl,
.glte>tbody>tr {
    transition: all 200ms ease;
    position: relative;
}

.gl5t {
    width: 100%;
}

.gl1t.highlighted-thumb,
.gdtl.highlighted-thumb,
.glte>tbody>tr.highlighted-thumb {
    z-index: 2;
    transform: scale(1.03);
    backdrop-filter: blur(2px);
    filter: brightness(1.1);
    box-shadow: rgb(255, 0, 82) 0px 0px 3.0em inset, rgb(255, 255, 255) 0px 0px 0px 0.1em;
    border-radius: 0.5em;

    & .gl5t {
        background-color: #00000047;
    }

    & .glname {
        font-weight: bold;
    }

}

/* The small black window over the header */
.ExHentaiCTRL-Window {
    position: fixed;
    left: 50%;
    top: 2em;
    transform: translateX(-50%);
    z-index: 1000;
    background-color: rgba(14, 14, 14, 0.733);
    backdrop-filter: blur(1em);
    outline: 0.1em solid #ff0052;
    padding: .5em;
    border-radius: .3em;
    color: rgb(202, 202, 202);
    box-shadow: 0 0 5em 1em rgba(0, 0, 0, 1);
    gap: 1em;
    display: grid;
    grid-auto-flow: row;
    min-width: 22em;

    &>.Header {
        display: grid;
        grid-auto-flow: column;
        justify-content: space-between;
        font-size: 1.5em;

        &>.Close {
            background-color: #ff0052;
            border-radius: .3em;
            aspect-ratio: 1/1;
            height: 1.2em;
            text-align: center;
            line-height: 1.3em;
            font-weight: 700;
            user-select: none;
            cursor: pointer;
        }

        &>.Title {
            font-weight: bold;
            margin-bottom: 1em;
        }

    }

}

/* Options */
.ExHentaiCTRL-Options {
    &>.Options {
        display: grid;
        grid-auto-flow: row;
        user-select: none;
        gap: .3em;

        &>.Opt {
            display: grid;
            grid-auto-flow: column;
            font-size: 1.2em;
            justify-content: space-between;
            min-height: 1.4em;
            align-items: center;

            &>.Toggle {
                all: unset;
                background-color: #0f0f0f;
                border-radius: .3em;
                color: white;
                cursor: pointer;
                height: 100%;
                padding: 0 .5em;
            }
        }

    }
}

/* Hotkeys */
.ExHentaiCTRL-Help {
    &>.Hotkeys {
        display: grid;
        grid-auto-flow: row;
        user-select: none;
        gap: .3em;

        &>.Hotkey {
            display: grid;
            grid-auto-flow: column;
            font-size: 1.2em;
            justify-content: space-between;
            min-height: 1.4em;
            align-items: center;
            gap: .3em;

            &>.Action {
                background-color: #0f0f0f;
                border-radius: .3em;
                color: white;
                cursor: pointer;
                height: 100%;
                padding: 0 .5em;
            }

            &>.Keys {
                background-color: #0f0f0f;
                border-radius: .3em;
                color: white;
                cursor: pointer;
                height: 100%;
                padding: 0 .5em;
                align-items: center;
                display: grid;
            }

        }

    }
}

#i1 {
    display: none;
}

.dp {
    display: none;
}

.ExView {
    position: absolute;
    inset: 0;
    display: grid;
    place-items: stretch;
    overflow: hidden;
    contain: content;
    grid-template-rows: max-content auto;



    &>.ImageContainer {
        display: grid;
        place-items: center;
    }
}